<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE Post</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="author">author</label>
      <input id="author" name="author"/>
    </div>
    <div>
      <label for="title">title</label>
      <input id="title" name="title"/>
    </div>
    <div>
      <label for="text">text</label>
      <textarea id="text" name="text"></textarea>
    </div>
    <button type="submit">등록하기</button>
  </form>
</body>
</html>